* {
  /*border-width: thin;
  border-color: rgb(255, 255, 255);
  border-style: solid;*/
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #b2b2b2;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #ff6f69;
    border-style:  solid;
    border-width: 7px;
    background-color: #ffeead;
    border-color: #ff6f69;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#tablecenter {
  margin-top: 5%;
}
#tablein {
  width: 100%;
}
.rowwidth {
}
.tdwidth {
}
.imgwidth {
}
.player {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-style:  solid;
    border-width: thin;
    background-color: #ffffff;
}
#red {
  color: red;
  border-color: red;
  font-size: 150%;
}
#blue {
  color: rgb(0, 3, 255);
  border-color: rgb(0, 3, 255);
  font-size: 150%;
}
#spanbottom {
}
#top {
  margin-top: 2%;
}