* {
  /*border-width: thin;
  border-color: rgb(255, 255, 255);
  border-style: solid;*/
}
body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #96ceb4;
}
h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #ff6f69;
    border-style:  solid;
    border-width: 7px;
    background-color: #ffeead;
    border-color: #ff6f69;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #563f46;
}
#tablein {
  width: 100%;
}
.rowwidth {
}
.tdwidth {
}
.imgwidth {
  border-width: thick;
  border-color: #ff6f69;
  border-style: solid;
}
