@font-face{
  font-family: inherit;
  src: url("space age.ttf");
  font-weight: bold;
}

body {
    background-image: url(img/space.jpg);
    background-size: 100%;
}
h1 {font-family: "space age";
    -webkit-transform:scale(1,1.5);
    color: #ad00ff;
    border-style: solid;
    border-width: 7px;
    background-color: transparent;
    border-color: #ad00ff;
}
p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#tablecenter {
  margin-top: 4%;
}
#tablein {
  width: 100%;
}
.player {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border-style: solid;
    border-width: thin;
    background-color: transparent;
    padding: 5px;
}
#red {
  color: rgb(0, 3, 255);
  border-color: rgb(0, 3, 255);
  font-size: 150%;
  visibility: visible;
}
#blue {
  color: red;
  border-color: red;
  font-size: 150%;
  visibility: hidden;
}
#top {
  margin-top: 3%;
}
.gray {
  background-color: #b9b8b7;
  border-style: solid;
  border-color: white;
  border-width: thin;
}
.bn {
  border-style: solid;
  border-color: black;
  border-width: thin;
}
